* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

body {
  background-color: rgb(32, 32, 32);
}

.box {
  width: 95%;
  margin: 2.5%;
  padding: 2.5%;
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
}
.box h1 {
  color: white;
  text-align: center;
  padding: 50px 0px;
  font-size: 50px;
}
.box button {
  width: 70%;
  background-color: silver;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  margin: 20px 15%;
  font-size: 20px;
}
.box details {
  background-color: rgb(0, 0, 0);
  color: silver;
  padding: 10px;
}

#code-editor {
  width: 100vw;
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
}
#code-editor #resize {
  cursor: ew-resize;
  background-color: gray;
  border: none;
  width: 5px;
}
#code-editor .both {
  display: flex;
  flex-direction: column;
  flex: none;
  height: 100vh;
  width: 50vw;
  margin-top: 5vh;
}
#code-editor .both .editor {
  resize: none;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  flex: none;
  line-height: 1.5;
  line-break: anywhere;
  font-family: monospace;
  height: 47.5vh;
  color: rgb(221, 221, 255);
  outline: none;
  border: none;
  font-size: larger;
  padding: 10px;
  border: 5px solid lightblue;
  background: rgb(57, 57, 63);
}
#code-editor #display {
  margin-top: 5vh !important;
  width: 50% !important;
  background: rgb(255, 255, 255) !important;
  height: 95vh !important;
  overflow: scroll !important;
}
#code-editor #status-bar {
  width: 100% !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  color: white !important;
  background: rgb(121, 121, 121) !important;
  height: 5vh !important;
  align-items: center !important;
  display: flex !important;
  justify-content: space-evenly !important;
}
#code-editor #status-bar p {
  font-family: monospace !important;
  background-color: unset !important;
}
#code-editor #status-bar input[type=range] {
  width: 30px;
  background: white;
}
#code-editor #status-bar input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background-color: white;
  border-radius: 10px;
}
#code-editor #status-bar input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 0px;
}
#code-editor #status-bar .buttons {
  width: 50vw !important;
  display: flex !important;
  justify-content: space-evenly !important;
  flex: none !important;
}
#code-editor #status-bar .buttons button {
  background: linear-gradient(0deg, rgb(83, 83, 83), rgb(46, 46, 46)) !important;
  color: white !important;
  border: none !important;
  border-radius: 5px !important;
  padding: 5px 10px !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
#code-editor #status-bar .buttons button:active {
  background: linear-gradient(0deg, rgb(46, 46, 46), rgb(83, 83, 83)) !important;
}

#color-picker {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
#color-picker #display {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 10vh;
  background-color: white;
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;
  overflow: scroll;
  align-items: center;
  height: 50vh;
}
#color-picker #display::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}/*# sourceMappingURL=globals.css.map */